<!-- Header -->
<header style="background: #333; color: white; padding: 20px; text-align: center;">
  <h1>My Portfolio</h1>
  <nav>
    <a routerLink="/" routerLinkActive="active">Home</a> |
    <a routerLink="/skills" routerLinkActive="active">Skills</a> |
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
  </nav>
</header>

<router-outlet></router-outlet>


<!-- Home Section -->
<section id="home" style="padding: 40px;">
  <h2>About Me</h2>
  <p>Hello! I'm a backend developer at Locobuzz.</p>
</section>

<div style="text-align: left; padding: 40px;">
  <h2>Enter your name:</h2>
  <input [(ngModel)]="name" placeholder="Your name" />
  <p *ngIf="name">Hello, {{ name }}!</p>
</div>

<!-- Skills Section -->
<section id="skills" style="padding: 40px; background-color: #f9f9f9;">
  <h2>Skills</h2>
  <button (click)="toggleSkills()">
    {{ showSkills ? 'Hide Skills' : 'Show Skills' }}
  </button>
  <ul *ngIf="showSkills">
    <li *ngFor="let skill of skills">
      {{ skill }}
    </li>
  </ul>
</section>

<!-- Contact Section -->
<section id="contact" style="padding: 40px;">
  <h2>Contact Me</h2>
  <p>Email: hrushikesh.zarekar&#64;locobuzz.com</p>
  <p>Phone: +123 456 7890</p>
  <p>Location: Navi Mumbai, India</p>
</section>

<!-- Footer -->
<footer style="background: #eee; padding: 20px; text-align: center;">
  © 2025 Hrushikesh Zarekar
</footer>
